@charset "UTF-8";
.signUp-header{
    font-size: 130%;
    text-align: center;
    margin-bottom: 20px;
}

.sign-name,.sign-id,.sign-pwd,.sign-repwd,.sign-email1,.sign-email2,
.sign-tel1,.sign-tel2,.sign-tel3,.sign-post,.sign-address,.sign-detail{
    font-size: 80%;

}

.signUp-pwd-form,
.signUp-rePwd-form,.signUp-email-form,.signUp-phone-form,
.signUp-address-form,.signUp-btn-box{
    margin-bottom: 5px;
}

.signUp-name-form,.signUp-id-form{
    margin-bottom: 17px;
}

.check-Btn{
    font-size: 80%;
}

.email-Btn{
    font-size: 80%;
}

.email-check-Btn{
   font-size: 80%;
}

.check-Post-Btn{
    font-size: 80%;
}

.signUp-btn-box{
    text-align: center;
    font-size: 80%;
}