@charset "UTF-8";
/* -------------------------------------- */
/* BASIC SETUP (기본 설정) */
/* -------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgba(85, 85, 85, 0.897);
    font-family: 'Raleway','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* 반응형 웹사이트를 만드려고 기준으로 두었다. 폰트사이즈를 20px을 기본으로 주면 다른 태그에서 %를 사용해서 변경해주면 
    폰트 사이즈를 바꿔줄때마다 웹사이트의 폰트 사이즈가 자동으로 바뀔 것이다. */
}


/* -------------------------------------- */
/* REUSABLE COMPONENTS (재사용 컴포넌트) */ 
/* -------------------------------------- */
.row {
    max-width: 1140px;
    margin: 0 auto; /* 모든 행이 중앙에 오도록 한다. */
}

section {
    padding: 40px 0;
    background-color: rgba(246,246,248,1);
}

/* -------------------------------------- */
/*  HEADER */
/* -------------------------------------- */
.logo {
    margin-left: 45%;
    margin-top: 10px;
    
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li{
    display: inline-block;
    margin-left: 30px;
    
    
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    color:rgba(63, 62, 62, 0.774);
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
    padding: 4px 0;
}


.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgba(63, 62, 62, 0.774);
}


/* -------------------------------------- */
/*  SECTION */
/* -------------------------------------- */
.menu-links{
    list-style: none;
    
}

.menu-links li{
    margin-bottom: 15px;
    font-size: 70%;
}

.menu-links li a:link,
.menu-links li a:visited {
    text-decoration: none;
    font-weight: bold;
    color:rgba(63, 62, 62, 0.774);
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
    padding: 4px 0;
}

.menu-links li a:hover,
.menu-links li a:active {
    border-bottom: 2px solid rgba(63, 62, 62, 0.774);
}

.list-wrap,.box-wrap{
    display: inline-block;
    margin-top: 5%;
    
}

.box-wrap{
    float: right;
    background-color: #fff;
    
}

.member-box,.point-box,.coupon-box{
    display: inline-block;
    background-color: ;
    padding: 30px 0;
    width:200px;
    margin:  40px 20px;
    
}

.member-box{
    width: 430px;
    border-right: solid 1px rgb(228, 228, 235);
    text-align: center;
}

.member-box span{
    font-size: 22px;
    font-weight: bold;
}

.member-box div{
    font-size: 15px;
    font-weight: bold;
    margin-right: 40px;
    margin-top: 2%;
}

.point-box{
    width: 200px;
    border-right: solid 1px rgb(228, 228, 235);
    
}

.point-box p{
    margin-bottom: 5px;
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: bold;
}

.point-box span{
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.coupon-box{
    width: 200px;
}

.coupon-box p{
    margin-bottom: 5px;
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: 600 ;
}

.coupon-box span{
    font-size: 22px ;
    font-weight: 600 ;
}

.question-wrap{
    display: inline-block;
    margin-top: 5%;
    float: right;
    width: 960px;
    height: 300px;   
}

.question-wrap h6 span{
    font-size: 17px;
    font-weight: bold;
}


.question-history{
    height: 290px;
    margin: 0 auto;
}

.question-history div{
    font-size: 15px;
    padding: 120px 0;
    text-align: center;
}

hr{
    margin-top: 3%;
    border-color: rgba(85, 85, 85, 0.075);
}




/* -------------------------------------- */
/*  FOOTER */
/* -------------------------------------- */
footer {
    border-top: 1px solid gainsboro;
    background-color: #fff;
    padding: 50px;
    font-size: 80%;
    color: rgba(33,33,33,0.4);
}


.social-links {
    list-style: none;
    text-align: center;
    font-size: 80%;
}


.social-links li {
    display: inline-block;
    margin-right: 20px;
    
}


.social-links li:last-child {
    margin-right: 0;
}


.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}


.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
    font-size: 80%;
}