@charset "UTF-8";
/* -------------------------------------- */
/* BASIC SETUP (기본 설정) */
/* -------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgba(85, 85, 85, 0.897);
    font-family: 'Raleway','Noto Sans Korean','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* 반응형 웹사이트를 만드려고 기준으로 두었다. 폰트사이즈를 20px을 기본으로 주면 다른 태그에서 %를 사용해서 변경해주면 
    폰트 사이즈를 바꿔줄때마다 웹사이트의 폰트 사이즈가 자동으로 바뀔 것이다. */
}


/* -------------------------------------- */
/* REUSABLE COMPONENTS (재사용 컴포넌트) */ 
/* -------------------------------------- */
.row {
    max-width: 1140px;
    margin: 0 auto; /* 모든 행이 중앙에 오도록 한다. */
}

section {
    padding: 40px 0;
}

h3{
    margin-bottom: 3%;
}

.goods_wrap{
    margin-left: 30%;
}

hr{
    margin: 5% auto;
}

p{
    font-size: 60%;
}

.item-detail-wrap{
    margin-top: 5%;
    font-size: 60%;
}

.item-detail{
    margin-bottom: 3%;
}

.opt-block{
    background-color: rgba(228, 225, 220, 0.342);
    padding: 5% 5%;
}

.opt-button-wrap{
    
}