p{
    margin : 4px;
}

.section-orderInfo{
    font-size : 12px;
}

.info-board{
    width: 390px;
    height: 400px;
    margin-top: 20px;
    margin-left: 570px;
    margin-bottom: 0px;
    padding : 1px;
    border:1px solid #f3f3f3;
    /*background-color: rgb(245, 241, 8);*/
}

.account-info{
    width: 390px;
    height: 100px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding : 1px;
    border:1px solid #f3f3f3;
    background-color: white;
}

.account-info-detail-line1, .account-info-detail-line2, .account-info-detail-line3, .account-info-detail-line4{
    width : 390px;
    height : 15px;
    display: inline-block;
}

.account-info-title{
    width : 100px;
    height : 25px;
    margin-left : 15px;
    margin-right : 20px;
    font-size: 13px;
    color : #464646;
    display: inline-block;
}

.account-bank-name{
    width : 190px;
    height : 25px;
    margin : 0px;
    font-size: 13px;
    color : #464646;
    display: inline-block;
}

.account-bank-number{
    width : 25px;
    height : 25px;
    margin-top : 2px;
    margin-left : 135px;
    font-size: 13px;
    color : #464646;
}

.account-bank-holder{
    width : 390px;
    height : 25px;
    margin-top : 2px;
    margin-left : 135px;
    font-size: 13px;
    color : #464646;
}

.accoutn-pay-price{
    width : 390px;
    height : 25px;
    margin-top : 2px;
    margin-left : 135px;
    font-size: 13px;
    color : #464646;
    font-weight: bold;
}

.orderid-info, .delivery-method-info, .delivery-message-info{
    width: 390px;
    height: 50px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding : 1px;
    border:1px solid #f3f3f3;
    background-color: white;
}


.orderid-title, .delivery-method-title, .delivery-message-title{
	width : 100px;
    height : 25px;
    margin-left : 15px;
    margin-right : 15px;
    font-size: 13px;
    color : #464646;
    display: inline-block;
}

.orderid-number, .delivery-method-service, .delivery-message-message{
	width : 190px;
    height : 25px;
    margin : 0px;
    font-size: 13px;
    color : #464646;
    display: inline-block;
}

.delivery-info{
	width: 390px;
    height: 125px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding : 1px;
    border:1px solid #f3f3f3;
    background-color: white;
}

.delivery-info-detail-line1, .delivery-info-detail-line2, .delivery-info-detail-line3, .delivery-info-detail-line4, .delivery-info-detail-line5{
    width : 390px;
    height : 15px;
    display: inline-block;
}


.delivery-info-title{
	width : 100px;
    height : 25px;
    margin-left : 15px;
    margin-right : 20px;
    font-size: 13px;
    color : #464646;
    display: inline-block;
}

.delivery-info-receivername{
	width : 190px;
    height : 25px;
    margin : 0px;
    font-size: 13px;
    color : #464646;
    display: inline-block;
}

.delivery-info-hp, .delivery-info-addr1, .delivery-info-addr2, .delivery-info-zipcode{
	width : 390px;
    height : 25px;
    margin-top : 2px;
    margin-left : 135px;
    font-size: 13px;
    color : #464646;
}



.gohome{
    margin-left : 552px;
    height : 100px;
}

.go_homeBtn {
    width: 394px;
    height: 40px;
    margin : 0px;
    margin-left: 20px;
    background-color:#212121E3;
    color :white;
    font-size: 17px;
    text-align: center;
}