<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="cartSQL">
 
 <!-- 장바구니에 정보 입력 전, 이미 있는 정보인지 확인 -->
 <!-- good_id와 member_id 두가지 항목이 이미 장바구니DB에 들어있는지 비교하여 0이면 false, 그 외의 값이면 true표시-->
 <!-- ★★★★★★★★resultType Boolean 되는지 확인, 안되면 String으로 바꾸기 -->
 <select id="checkGoodsInCart" resultType="Boolean" parameterType="cart">
    <![CDATA[
	    select decode(count(*), 0, 'false', 'true') from t_shopping_cart
		where goods_id=#{goods_id} and member_id=#{member_id} 
   	]]>
</select>
 
 
 <!-- 장바구니DB에 상품 추가 -->
 <insert id="addGoodsInCart" parameterType="cart">
 	<selectKey resultType="String" keyProperty="cart_id" order="BEFORE">
	    	select nvl(max(cart_id), 0) + 1 from t_shopping_cart
	</selectKey>
 	<![CDATA[
 		insert into t_shopping_cart(cart_id,
 									goods_id,
 									member_id,
 									cart_goods_qty,
 									creDate)
 							 values(#{cart_id},
 							 		#{goods_id},
 							 		#{member_id},
 							 		#{cart_goods_qty},
 							 		sysdate)								 	
   	]]>	 
  </insert>
 
  <!-- 로그인한 회원아이디로 장바구니DB에 있는 상품을 꺼내기 -->
  <select id="getListFromCart" parameterType="String" resultType="cart">
  	 <![CDATA[
		select cart_id, goods_id, member_id, cart_goods_qty, creDate from t_shopping_cart 
		where member_id=#{member_id} 
	  ]]>
  </select>
  
  <!-- 위의 장바구니 리스트 안에 들은 goods_id로 상품 상세정보 꺼내오기 -->
  <!-- 최근에 담은 상품이 위로 옴 -->
  <select id="getListFromGoods" parameterType="cart" resultType="goods">
  	  <![CDATA[
  	  	select * from t_shopping_goods
  	  	where goods_id in
  	  ]]>
  	  	<foreach item="item" collection="list" open="(" separator="," close=")">
  	  		#{item.good_id}
  	  	</foreach>
  	  	order by goods_creDate desc
  </select>
 
 </mapper>